<div class="home__container">
    <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Digital"
    gamePrice="R$ 129,00"
    gameType="Digtal | PS4"
    >
</app-card>
<app-card
    gameCover="https://static21.minhalojanouol.com.br/videogameportoalegre/produto/multifotos/hd/20230216135937_6815993185_DZ.jpg"
    gameLabel="Promo"
    gamePrice="R$ 269,99"
    gameType="DISC | PS5"
>
</app-card>

<app-card
    gameCover="https://m.media-amazon.com/images/I/91yfs5IiOTL._AC_UF894,1000_QL80_.jpg"
    gameLabel="New"
    gamePrice="R$ 189,99"
    gameType="Digital | PS4"
>
</app-card>

<app-card
    gameCover="https://i.pinimg.com/originals/4f/ab/c5/4fabc5e6d786aeafa6d247469db11269.jpg"
    gameLabel="Exclusive"
    gamePrice="R$ 219,99"
    gameType="DISC | PS3"
>
</app-card>
</div>
